@page "/player-grid"
@using BattleShip.Models 
<div class="row justify-content-center">
<h3 class="row justify-content-center">Your Fleet</h3>
<table class="table table-bordered" style="width:400px; height:400px; border-collapse: collapse;">
 @*    @for (int i = 0; i < 10; i++)
    {
        <tr style="height: calc(100% / 10);">
            @for (int j = 0; j < 10; j++)
            {   
                ShipDto? selectedShip = AllShips.FirstOrDefault(ship =>
                ship.CoveringAera.Any(node => node.RowValue == i && node.ColValue == j));

                <td @onclick="() => HandleClick(i, j)" style="width: calc(100% / 10); border: 1px solid black;">
                    @if(selectedShip!=null)
                    {
                        <span>@selectedShip.Name;</span>
                    }
                    else
                    {
                        <span>N</span>
                    }
                 </td>
            }
        </tr>
    } *@
</table>
<table class="table table-bordered" style="width:400px; border-collapse: collapse;">
    <tr><th>Ship</th><th>Total Hits</th><th>Status</th></tr>
    <tr><td>BattleShip</td><td>3</td><td>Partially Damaged</td></tr>
    <tr><td>Distroyer 1</td><td>2</td><td>Sinked</td></tr>
    <tr><td>Distroyer 2</td><td>0</td><td>No Damaged</td></tr>
</table>
<br />
<table class="col-lg-6  justify-content-center">
    <tr>
            <td><div class="fw-bolder " style="font-size:larger">Score</div></td>
            <td><div class="fw-bolder " style="color:darkred;font-size:larger">500</div></td>
    </tr>
</table>
</div>

@code {
    IEnumerable<ShipDto> Ships;
    List<ShipDto> AllShips;
    protected override async Task OnInitializedAsync()
    {
        AllShips = new List<ShipDto>();
        // AllShips.Add(new ShipDto() 
        // { Name = "B1", 
        // Size = 5, 
        // Hits = 0, 
        // CoveringAera =new List<Node>() 
        //     {
        //         new Node(1,4),
        //         new Node(1,5),
        //         new Node(1,6),
        //         new Node(1,7),
        //         new Node(1,8)
        //     }
        // });

        // AllShips.Add(new ShipDto()
        //     {
        //         Name = "D1",
        //         Size = 2,
        //         Hits = 0,
        //         CoveringAera = new List<Node>()
        //     {
        //         new Node(1,4),
        //         new Node(2,4)                
        //     }
        //     });

        // AllShips.Add(new ShipDto()
        //     {
        //         Name = "D2",
        //         Size = 2,
        //         Hits = 0,
        //         CoveringAera = new List<Node>()
        //     {
        //         new Node(7,7),
        //         new Node(7,8)
        //     }
        //     });


    //Ships = await Http.GetFromJsonAsync<IEnumerable<ShipDto>>("api/GameBoard/GetPlayerPlaceShips");
    }

    private void HandleClick(int row, int column)
    {
        // Logic to handle click
    }
}
